/* 
CSS display : block, inline, inline-block, none
    block elements: div, h1 --> to avoid use <span class="">:inline display

CSS position : static(html rule), relative, absolute(relative to parent), fixed
*/

body {
    background-color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 0;
}

.top-container {
    position: relative;
    padding: 100px;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container {
    background-color: white;
    width: 200px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
/* p {
    display: inline;
} */